body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/home.jpg) no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fadein 3s;
}

.content {
  display: block;
  height: 100vh;
  padding-top: 40px;
}

.art {
  position: relative;
  font-size: 50px;
  font-family: "Gowun Batang";
}

.title {
  font-family: "Whisper";
  font-weight: bolder;
  font-size: 100px;
}

.empty {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 0;
  left: 25%;
  justify-content: center;
  border-radius: 7px;
  display: flex;
  align-items: center;
  background-color: #cd79eb;
}

img {
  width: 50%;
  filter: drop-shadow(5px 5px 5px #02010290);
  border-radius: 5px;
}

.desc {
  position: absolute;
  width: 50%;
  height: 99%;
  top: 0;
  left: 25%;
  justify-content: center;
  border-radius: 7px;
  display: none;
  align-items: center;
  background-color: #02010240;
}

.art:hover .overlay {
  opacity: 1;
}

.art:hover .desc {
  display: flex;
}

@keyframes fadein {
  /*fade in 효과를 주기 위함*/
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
